* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--color-background);
    color: #000;
}

#root {
    min-height: 100vh;
}